<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.venticake.retrica" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.venticake.retrica.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <permission android:name="com.venticake.retrica.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.0"/>
    <application android:allowBackup="true" android:hardwareAccelerated="@bool/enableHardwareAccelerated" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.venticake.retrica.RetricaAppLike" android:supportsRtl="true" android:theme="@style/RetricaTheme">
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="com.venticake.retrica.camera.CameraActivity" android:screenOrientation="portrait" android:theme="@style/RetricaTheme.FullScreenUntilNavigationBar" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/deepLink_host" android:path="@string/deepLink_path_invite" android:scheme="http"/>
                <data android:host="@string/deepLink_host" android:path="@string/deepLink_path_setting" android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="retrica.permission.PermissionActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="retrica.ui.activities.ReviewActivity" android:screenOrientation="portrait" android:theme="@style/RetricaTheme.Review" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:label="@string/camera_control_manage_filter" android:launchMode="singleTop" android:name="retrica.lens.management.LensManagementActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="retrica.toss.account.TossAccountActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="standard" android:name="retrica.util.ProxyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:name="retrica.toss.messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="retrica.toss.messaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyA_OMxHx1aDgMgBuEMsNdT1m1FnTl9P19E"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="52429e9af1113650966d72c38fb52ba663fc5303"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.facebook.accountkit.ClientToken" android:value="@string/facebook_account_kit_token"/>
        <meta-data android:name="com.facebook.accountkit.ApplicationName" android:value="@string/app_name"/>
        <activity android:label="@string/com_accountkit_button_log_in" android:launchMode="singleTop" android:name="com.facebook.accountkit.ui.AccountKitActivity" android:theme="@style/AppTheme.PhoneNumberConnectTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="@string/app_name" android:name="com.vk.sdk.VKServiceActivity" android:theme="@style/VK.Transparent"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="standard" android:name="retrica.toss.app.ChannelViewActivity" android:parentActivityName="com.venticake.retrica.camera.CameraActivity" android:screenOrientation="portrait" android:theme="@style/RetricaTheme.ChannelViewTheme" android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.venticake.retrica.camera.CameraActivity"/>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:launchMode="standard" android:name="retrica.toss.app.ContentsActivity" android:screenOrientation="portrait" android:theme="@style/RetricaTheme.FullScreenUntilNavigationBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="retrica.ui.activities.UserProfilesActivity" android:screenOrientation="portrait" android:theme="@style/RetricaTheme.UserProfiles" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:label="@string/settings_title" android:launchMode="singleTop" android:name="retrica.app.setting.SettingActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:label="@string/memories_sendto" android:launchMode="singleTop" android:name="retrica.memories.share.ShareActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:label="@string/friends_add_title" android:launchMode="singleTop" android:name="retrica.memories.friendlist.FriendShipActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:label="@string/support_activity_title" android:name="com.zendesk.sdk.support.SupportActivity" android:theme="@style/ZendeskLightTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="@string/contact_fragment_title" android:name="com.zendesk.sdk.feedback.ui.ContactZendeskActivity" android:theme="@style/ZendeskLightTheme" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:label="@string/request_list_activity_title" android:name="com.zendesk.sdk.requests.RequestActivity" android:theme="@style/ZendeskLightTheme"/>
        <activity android:label="@string/contact_fragment_title" android:name="com.zendesk.sdk.requests.ViewRequestActivity" android:theme="@style/ZendeskLightTheme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="retrica.contents.EditorActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="retrica.contents.CloudContentsPagerActivity" android:screenOrientation="portrait" android:theme="@style/RetricaTheme.FullScreenUntilNavigationBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="retrica.contents.CameraContentsPagerActivity" android:screenOrientation="portrait" android:theme="@style/RetricaTheme.FullScreenUntilNavigationBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:label="@string/settings_album" android:launchMode="singleTop" android:name="retrica.memories.album.AlbumActivity" android:screenOrientation="portrait" android:theme="@style/RetricaTheme.AlbumTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="retrica.toss.app.ChannelViewSettingActivity" android:screenOrientation="portrait" android:theme="@style/RetricaOrangeTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <receiver android:label="NetworkChangeReceiver" android:name="retrica.app.receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="orientation|screenSize" android:label="@string/group_create_title" android:launchMode="singleTop" android:name="retrica.memories.group.EditGroupActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="com.venticake.retrica.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="io.imoji.sdk.editor.ImojiEditorActivity" android:windowSoftInputMode="adjustNothing"/>
        <service android:exported="false" android:name="io.imoji.sdk.editor.ImojiCreateService"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="true" android:name="com.google.android.gms.appinvite.PreviewActivity" android:theme="@style/Theme.AppInvite.Preview">
            <intent-filter>
                <action android:name="com.google.android.gms.appinvite.ACTION_PREVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.venticake.retrica"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"/>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.venticake.retrica.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:name="com.jakewharton.processphoenix.ProcessPhoenix" android:process=":phoenix" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <provider android:authorities="com.venticake.retrica.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <activity android:exported="true" android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity" android:noHistory="true"/>
        <provider android:authorities="com.venticake.retrica.AccountKitInitialization" android:exported="false" android:name="com.facebook.accountkit.internal.AccountKitInitProvider"/>
        <receiver android:name="com.zendesk.sdk.power.BatteryStateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW"/>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="orientation|screenSize" android:name="com.zendesk.sdk.support.ViewArticleActivity"/>
        <receiver android:exported="false" android:name="com.zendesk.sdk.deeplinking.ZendeskDeepLinkingBroadcastReceiver">
            <intent-filter>
                <action android:name="com.zendesk.sdk.deeplinking"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.venticake.retrica.belvedere.attachments" android:exported="false" android:grantUriPermissions="true" android:name="com.zendesk.belvedere.BelvedereFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/belvedere_attachment_storage"/>
        </provider>
    </application>
</manifest>
