<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sec.spp.push" platformBuildVersionCode="23" platformBuildVersionName="6.0.1">
    <permission android:description="@string/permission_description" android:label="@string/permission_label" android:name="com.sec.spp.permission.PUSH_SERVICE_PROVIDER"/>
    <permission android:description="@string/permission_description" android:label="@string/permission_label" android:name="com.sec.spp.push.permission.AOM_KEEPALIVE" android:protectionLevel="signature"/>
    <permission android:name="com.sec.dlc.permission.DLC_REQUEST" android:protectionLevel="signature"/>
    <permission android:name="com.sec.spp.permission.GET_REG_INFO" android:protectionLevel="signature"/>
    <permission android:name="com.sec.spp.permission.SEND" android:protectionLevel="signature"/>
    <permission android:name="com.sec.spp.push.permission.REQUEST" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="com.sec.spp.permission.PUSH_SERVICE_PROVIDER"/>
    <uses-permission android:name="com.sec.spp.push.permission.AOM_KEEPALIVE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="com.sec.dlc.permission.DLC_REQUEST"/>
    <uses-permission android:name="com.sec.spp.permission.GET_REG_INFO"/>
    <uses-permission android:name="com.sec.spp.permission.SEND"/>
    <uses-permission android:name="com.sec.spp.permission.TOKEN_a1a30b694300dac6f59ae7b791d9eef52f677d5a5fe53412b7608126d463248f21f62f60c9bc92da81138bf6f292302d960c7273f648e5596bc9fea9ca594701e696c0917204658ac9f0e74745807472e9d3e9977f667274ee768334b7f9004f9a0046decafe7e068ad420d39e629d727f6b28195b118d7f7a4230be62243bd1"/>
    <uses-permission android:name="com.sec.spp.permission.TOKEN_93826e86cec89c5a525ae83ddf9ebd98ecc233c92e8756bc704afa2d0778c64fdb5fef0d4cf09b8d73963b6df482827430806db3a69e587adc1c167cc50e7207453c58ea58cad7caaef5646b8deb9556378af5867696aa51fbca0e2f918d7d12a6f0b7acd5bba2d48c6688ee2089b816ad6fb0bc395f6986b71129090f423d3d"/>
    <application android:allowBackup="false" android:icon="@drawable/icon" android:label="Samsung Push Service" android:manageSpaceActivity="ManagerSpaceActivity" android:name="com.sec.spp.push.PushClientApplication">
        <meta-data android:name="com.sec.android.app.blockdisabling" android:value="true"/>
        <service android:exported="false" android:name="com.sec.spp.push.PushClientService"/>
        <service android:exported="true" android:name="com.sec.spp.push.RequestService">
            <intent-filter>
                <action android:name="com.sec.spp.push.PUSH_CLIENT_SERVICE_ACTION"/>
            </intent-filter>
        </service>
        <service android:name="com.sec.spp.push.monitor.SystemStateMonitorService"/>
        <service android:name="com.sec.spp.push.log.collector.PushClientLogCollectService"/>
        <activity android:label="Samsung Push Service" android:name="com.sec.spp.push.ManagerSpaceActivity"/>
        <receiver android:name="com.sec.spp.push.StartupReceiver">
            <intent-filter>
                <action android:name="com.sec.spp.action.SPP_REQUEST"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.monitor.SystemStateMoniter">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.EMERGENCY_STATE_CHANGED"/>
                <action android:name="com.samsung.intent.action.EMERGENCY_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.heartbeat.HeartBeat"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.receiver.ProvAlarmReceiver">
            <intent-filter>
                <action android:name="com.sec.spp.push.receiver.PROVISIONING_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.update.Update">
            <intent-filter>
                <action android:name="com.sec.spp.push.UPDATE_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.spp.push.receiver.AomMonitor">
            <intent-filter>
                <action android:name="com.skt.aom.intent.receive.KEEP_ALIVE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.receiver.ConnectionStateCheckReceiver">
            <intent-filter>
                <action android:name="com.sec.spp.push.ACTION_CONNECTION_STATE_CHECK"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.receiver.RegistrationNotiReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.receiver.ProviderInfoReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.receiver.SendAckRequestReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.receiver.DeviceIdReqReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.receiver.DeviceIdRespReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.sec.spp.push.receiver.PackageInfoChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.sec.spp.push.receiver.OneDayCheckTimer">
            <intent-filter>
                <action android:name="com.sec.spp.push.DAY_TIMER"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.spp.push.receiver.BackOffExpireReceiver"/>
        <receiver android:exported="true" android:name="com.sec.spp.push.receiver.SessionRefreshRequestReceiver" android:permission="com.sec.spp.push.permission.REQUEST">
            <intent-filter>
                <action android:name="com.sec.spp.push.REQUEST_SESSION_REFRESH"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.sec.spp.push.receiver.SaSigninClickReceiver" android:permission="com.osp.app.signin.SIGNIN_CLICK_BROADCAST_PERMISSION">
            <intent-filter>
                <action android:name="com.samsung.account.SIGNIN_CLICK_SAMSUNGACCOUNT"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.sec.spp.provider" android:exported="true" android:name="com.sec.spp.push.provider.PushClientProvider" android:writePermission="com.sec.spp.permission.PUSH_SERVICE_PROVIDER"/>
        <provider android:authorities="com.sec.spp.accessKeyProvider" android:exported="true" android:name="com.sec.spp.push.provider.AccessKeyProvider" android:process=":RemoteNotiProcess" android:writePermission="com.sec.spp.permission.PUSH_SERVICE_PROVIDER"/>
        <provider android:authorities="com.sec.spp.reginfo.provider" android:exported="true" android:name="com.sec.spp.push.provider.RegInfoProvider" android:permission="com.sec.spp.permission.GET_REG_INFO"/>
        <receiver android:name="com.sec.spp.push.log.logsender.LogBroadcastReceiver" android:permission="com.sec.dlc.permission.DLC_REQUEST">
            <intent-filter>
                <action android:name="com.sec.spp.push.DLC_AVAILABLE"/>
                <action android:name="com.sec.spp.push.DLC_UNAVAILABLE"/>
                <action android:name="com.sec.spp.push"/>
                <action android:name="com.sec.spp.push.DLC_REPLY"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.spp.push.dlc.util.DlcRegiReceiver" android:process=":RemoteDlcProcess">
            <intent-filter>
                <action android:name="com.sec.spp.push.REQUEST_REGISTER"/>
                <action android:name="com.sec.spp.push.REQUEST_DEREGISTER"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.sec.spp.push.dlc.writer.WriterService" android:process=":RemoteDlcProcess"/>
        <service android:exported="false" android:name="com.sec.spp.push.dlc.sender.SenderService" android:process=":RemoteDlcProcess"/>
        <service android:exported="false" android:name="com.sec.spp.push.dlc.db.DbService" android:process=":RemoteDlcProcess"/>
        <receiver android:name="com.sec.spp.push.dlc.sender.DlcRequestReceiver" android:permission="com.sec.dlc.permission.DLC_REQUEST" android:process=":RemoteDlcProcess">
            <intent-filter>
                <action android:name="com.sec.dlc.DLC_REQUEST"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.spp.push.dlc.sender.SelfPingNotiReceiver" android:permission="com.sec.dlc.permission.DLC_REQUEST" android:process=":RemoteDlcProcess">
            <intent-filter>
                <action android:name="com.sec.dlc.SELF_PING_NOTI"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.sec.spp.push.dlc.sender.DlcForcedPvAlarmReceiver" android:process=":RemoteDlcProcess"/>
        <activity android:enabled="false" android:label="Activity Select" android:name="com.sec.spp.push.ActivitySelect" android:screenOrientation="portrait"/>
        <activity android:enabled="false" android:label="PushSvc" android:name="com.sec.spp.push.PushClientActivity" android:screenOrientation="portrait"/>
        <activity android:enabled="false" android:label="Push Activity" android:name="com.sec.spp.push.dlc.util.PushActivity" android:process=":RemoteDlcProcess" android:screenOrientation="portrait"/>
        <activity android:enabled="false" android:label="ForceUpdate Activity" android:name="com.sec.spp.push.update.ForceUpdateActivity" android:screenOrientation="portrait"/>
        <activity android:enabled="false" android:label="NotiSvc" android:name="com.sec.spp.push.notisvc.NotiSvcActivity" android:process=":RemoteNotiProcess" android:screenOrientation="portrait"/>
        <activity android:enabled="false" android:label="AppTracking" android:name="com.sec.spp.push.AppTrackingActivity" android:process=":RemoteNotiProcess" android:screenOrientation="portrait"/>
        <receiver android:enabled="false" android:exported="false" android:name="com.sec.spp.push.notisvc.registration.PackageChangeEventReceiver" android:process=":RemoteNotiProcess">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.sec.spp.push.notisvc.alarm.AlarmEventManager" android:process=":RemoteNotiProcess"/>
        <receiver android:exported="false" android:name="com.sec.spp.push.notisvc.card.CardActionLauncher" android:process=":RemoteNotiProcess">
            <intent-filter>
                <action android:name="com.sec.spp.push.notisvc.CARD_CLICK"/>
                <action android:name="com.sec.spp.push.notisvc.CARD_CLEAR"/>
                <action android:name="com.sec.spp.push.notisvc.STREAMING_CLICK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.spp.push.notisvc.pushagent.PushReceiver" android:permission="com.sec.dlc.permission.DLC_REQUEST" android:process=":RemoteNotiProcess">
            <intent-filter>
                <action android:name="1563e038015c430d"/>
                <action android:name="com.sec.spp.RegistrationChangedAction"/>
                <action android:name="com.sec.spp.push.ACCOUNT_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.sec.spp.push.notisvc.registration.LocaleChangedReceiver" android:process=":RemoteNotiProcess">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.spp.push.notisvc.registration.PhoneStatusChangeReceiver" android:permission="com.sec.dlc.permission.DLC_REQUEST" android:process=":RemoteNotiProcess">
            <intent-filter>
                <action android:name="com.sec.spp.BOOT_COMPLETE"/>
                <action android:name="com.sec.spp.push.UPDATE_NOTICE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.sec.spp.push.notisvc.registration.UserAgreementReceiver" android:process=":RemoteNotiProcess">
            <intent-filter>
                <action android:name="com.sec.spp.action.USER_AGREEMENT"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.sec.spp.push.notisvc.display.PopupDialogActivity" android:process=":RemoteNotiProcess" android:theme="@style/PopupDialogTheme"/>
        <receiver android:exported="false" android:name="com.sec.spp.push.notisvc.card.CardStatusUpdateReceiver" android:process=":RemoteNotiProcess">
            <intent-filter>
                <action android:name="com.sec.spp.push.notisvc.UPDATE_CARD_STAT"/>
                <action android:name="com.sec.spp.push.notisvc.RETRY_CARD_DISPLAY"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.sec.spp.push.notisvc.tracking.TrackingEventReceiver" android:process=":RemoteNotiProcess">
            <intent-filter>
                <action android:name="com.sec.spp.push.notisvc.ACTION_START_TRACK"/>
                <action android:name="com.sec.spp.push.notisvc.ACTION_STOP_TRACK"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.sec.spp.push.notisvc.registration.RegistrationIntentService" android:process=":RemoteNotiProcess"/>
        <service android:exported="false" android:name="com.sec.spp.push.notisvc.card.CardIntentService" android:process=":RemoteNotiProcess"/>
        <service android:exported="false" android:name="com.sec.spp.push.notisvc.tracking.TrackingIntentService" android:process=":RemoteNotiProcess"/>
        <service android:exported="false" android:name="com.sec.spp.push.notisvc.sa.SamsungAccountService" android:process=":RemoteNotiProcess"/>
        <receiver android:exported="false" android:name="com.sec.spp.push.receiver.ForceUpdateAlarmReceiver">
            <intent-filter>
                <action android:name="com.sec.spp.push.receiver.ForceUpdateAlarmReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.sec.spp.push.receiver.LdUpdateReceiver">
            <intent-filter>
                <action android:name="com.sec.spp.push.ldUpdate"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.sec.spp.push.update.PopupMessage" android:theme="@android:style/Theme.Translucent"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <meta-data android:name="SPDE.build.signature" android:value="3562396/11118111/release/SPPPushClient-100000-1.8.01"/>
        <meta-data android:name="SPDE.env.version" android:value="1.3.1/23.1.37/23.1.7"/>
    </application>
</manifest>
