<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.Project100Pi.themusicplayer" platformBuildVersionCode="23" platformBuildVersionName="6.0-2704002">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:maxSdkVersion="18" android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.Project100Pi.themusicplayer.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.Project100Pi.themusicplayer.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@drawable/music_player_icon" android:label="@string/app_name" android:largeHeap="true" android:launchMode="singleInstance" android:name="com.Project100Pi.themusicplayer.MyApplication" android:theme="@style/AppBaseTheme">
        <activity android:label="@string/app_name" android:name="com.Project100Pi.themusicplayer.SplashActivity" android:theme="@style/AppBaseTheme.NoActionBar.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.Project100Pi.themusicplayer.MainActivity" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <meta-data android:name="com.Project100Pi.themusicplayer.BetterGlide" android:value="GlideModule"/>
        <activity android:name="com.Project100Pi.themusicplayer.PlayActivity" android:screenOrientation="portrait" android:theme="@style/AppBaseTheme.NoActionBar.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.Project100Pi.themusicplayer.CutterListActivity" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <activity android:name="com.Project100Pi.themusicplayer.EqualizerSettings" android:screenOrientation="portrait" android:theme="@style/AppBaseTheme"/>
        <activity android:label="SongsUnderTest" android:name="com.Project100Pi.themusicplayer.SongsUnderTest" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <activity android:label="Now Playing" android:name="com.Project100Pi.themusicplayer.NowPlayingListTest" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <activity android:label="Select PlayList" android:name="com.Project100Pi.themusicplayer.PlayListSelectionTest"/>
        <activity android:label="Edit Activity" android:name="com.Project100Pi.themusicplayer.RingdroidEditActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.Project100Pi.themusicplayer.SearchResultTestActivity">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <service android:enabled="true" android:exported="true" android:name="com.Project100Pi.themusicplayer.LockScreenNotification" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:enabled="true" android:exported="true" android:name="com.Project100Pi.themusicplayer.PlayHelperFunctions"/>
        <service android:enabled="true" android:exported="true" android:name="com.Project100Pi.themusicplayer.CheckForegroundService"/>
        <service android:enabled="true" android:exported="true" android:name="com.Project100Pi.themusicplayer.UpdateWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <receiver android:name="com.Project100Pi.themusicplayer.NotificationBroadcast">
            <intent-filter>
                <action android:name="com.tutorialsface.audioplayer.delete"/>
                <action android:name="com.tutorialsface.audioplayer.pause"/>
                <action android:name="com.tutorialsface.audioplayer.next"/>
                <action android:name="com.tutorialsface.audioplayer.play"/>
                <action android:name="com.tutorialsface.audioplayer.previous"/>
                <action android:name="com.tutorialsface.audioplayer.openApp"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.Project100Pi.themusicplayer.MyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.tutorialsface.audioplayer.next"/>
                <action android:name="com.tutorialsface.audioplayer.play"/>
                <action android:name="com.tutorialsface.audioplayer.previous"/>
                <action android:name="com.tutorialsface.audioplayer.openApp"/>
                <action android:name="updateWidgetLayout"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
        </receiver>
        <activity android:name="com.Project100Pi.themusicplayer.AboutActivity" android:screenOrientation="portrait" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <activity android:name="com.Project100Pi.themusicplayer.SettingsMainActivity" android:screenOrientation="portrait" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <activity android:name="com.Project100Pi.themusicplayer.LicenseActivity"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="526a2d713f77cf8f5f576729bf50685123092714"/>
        <activity android:label="Edit Info" android:name="com.Project100Pi.themusicplayer.EditInfoActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="Store" android:name="com.Project100Pi.themusicplayer.StoreMainActivity" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <activity android:label="@string/main_menu_pi_power_share" android:launchMode="singleTask" android:name="com.Project100Pi.themusicplayer.SendAnywhereActivity" android:theme="@style/AppBaseTheme.NoActionBar">
            <intent-filter android:label="Pi Power Share">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="100piapps.com" android:pathPrefix="/pipowersharekey" android:scheme="http"/>
            </intent-filter>
            <intent-filter android:label="Pi Power Share">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:host="sendanywhe.re"/>
            </intent-filter>
            <intent-filter android:label="Pi Power Share">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:host="send-anywhere.com"/>
            </intent-filter>
            <intent-filter android:label="Pi Power Share">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter android:label="Pi Power Share">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:host="pipowersha.re"/>
            </intent-filter>
            <intent-filter android:label="Pi Power Share">
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
        <activity android:label="Background Selection" android:name="com.Project100Pi.themusicplayer.BgsSelectionActivity" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <activity android:name="com.Project100Pi.themusicplayer.BgPreviewActivity" android:theme="@style/AppBaseTheme.NoActionBar"/>
        <activity android:label="Pi Power Share Help" android:name="com.Project100Pi.themusicplayer.SendAnywhereInstructionActivity"/>
        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE"/>
        <meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.Project100Pi.themusicplayer"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"/>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.Project100Pi.themusicplayer.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="onesignal_app_id" android:value="4c29e2c3-7af5-4902-855c-d91f8a9b12a8"/>
        <meta-data android:name="onesignal_google_project_number" android:value="str:183839646769"/>
        <receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.Project100Pi.themusicplayer"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.onesignal.NotificationOpenedReceiver"/>
        <service android:name="com.onesignal.GcmIntentService"/>
        <service android:name="com.onesignal.SyncService"/>
        <activity android:name="com.onesignal.PermissionsActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:name="com.onesignal.NotificationRestoreService"/>
        <receiver android:name="com.onesignal.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.onesignal.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
